<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Navigation</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="glyphicon glyphicon-stats icon text-light"></i>
            <span class="font-bold">Dashboard</span>
        </a>
    </li>
    <li ng-class="{active:$state.includes('app.department')}">
    <li ui-sref-active="active">
        <a ui-sref="app.department.index">
            <i class="fa fa-institution icon text-light"></i><span class="font-bold">Phòng ban</span>
        </a>
    </li>
    </li>
    <li ng-class="{active:$state.includes('app.staff')}">
    <li ui-sref-active="active">
        <a ui-sref="app.staff.index">
            <i class="glyphicon glyphicon-user icon text-light"></i><span class="font-bold">Nhân viên</span>
        </a>
    </li>
    </li>
    <li ng-class="{active:$state.includes('app.customer')}">
    <li ui-sref-active="active">
        <a ui-sref="app.customer.index">
            <i class="fa fa-group icon text-light"></i> <span class="font-bold">Khách hàng</span>
        </a>
    </li>
    <li ng-class="{active:$state.includes('app.producttype')}">
    <li ui-sref-active="active">
        <a ui-sref="app.producttype.index">
            <i class="fa fa-suitcase icon text-light"></i> <span class="font-bold">Loại sản phẩm</span>
        </a>
    </li>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="account.login">
            <i class="glyphicon glyphicon-user icon text-light"></i>
            <span class="font-bold">Logout</span>
        </a>
    </li>
    <li ng-class="{active:$state.includes('app.blog')}">
    <li ui-sref-active="active">
        <a ui-sref="app.blog.index">
            <i class="fa fa-institution icon text-light"></i><span class="font-bold">Chủ đề</span>
        </a>
    </li>
    </li>
    <li ng-class="{active:$state.includes('app.topic')}">
    <li ui-sref-active="active">
        <a ui-sref="app.topic.index">
            <i class="fa fa-suitcase icon text-light"></i><span class="font-bold">Bài viết</span>
        </a>
    </li>
    </li>
    <li ng-class="{active:$state.includes('app.order')}">
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-envelope-o text-light"></i>
            <span class="font-bold">Đơn hàng</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.order.create">
                    <span>Tạo đơn hàng</span>
                </a>
            </li>
            <li ui-serf-active="active">
                <a ui-sref="app.order.index">
                    <span>Quản lý đơn hàng</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- / list -->
