
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Topic</h1>
</div>
<div class="wrapper-sm" ng-controller="TopicEditCtrl as vm">
    <div class="row" style="padding-left: 15px;">
        <button class="btn m-b-xs w-xs btn-danger" ng-click="vm.topicBack()"><i class="glyphicon glyphicon-chevron-left icon text-light"></i>Back</button>
    </div>
  
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" block-ui="BlockUI">
                <div class="panel-heading font-bold">Cập nhập bài viết</div>
                <div class="panel-body" style="height:500px;">
                    <form role="form">
                        <div class="form-group">
                            <label>Loại chủ đề</label> <br/>
                            <select id="blogdropdown"
                                kendo-drop-down-list
                                ng-disabled="eventTypeDis === 1"
                                k-data-text-field="'Category'"
                                k-data-value-field="'ID'"
                                k-data-source="vm.blogData"
                                k-option-label="' Loại chủ đề... '"
                                k-ng-model="vm.selectedBlogData"
                                k-on-change="onBlogSelChanged()"
                                k-data-auto-bind = false
                                k-filter="'contains'"
                                style="width: 100%">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tiêu đề</label>
                            <input type="text" class="form-control" ng-model="vm.model.Title">
                        </div>
                        <div class="form-group">
                            <label>Tóm tắt</label>
                            <input type="text" class="form-control" ng-model="vm.model.Decription">
                        </div>
                        
                        <button type="submit" class="btn btn-success" ng-click="vm.editSubmit()">Cập nhập bài viết</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" block-ui="BlockUI">
            <div class="panel-heading font-bold">Cập nhập bài viết</div>
                <div class="panel-body" style="height:500px;">
                    <div class="form-group">
                        <textarea kendo-editor k-options="toolEdit" k-ng-model="vm.model.Content"  rows="10" cols="30" style="height:440px">
                        </textarea>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>