
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Department</h1>
</div>
<div class="wrapper-sm" ng-controller="DepartmentCtrl as vm">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default"  block-ui="BlockUI">
                <div class="panel-heading font-bold">Create form</div>
                <div class="panel-body" style="height:500px;">
                    <form role="form">
                        <div class="form-group">
                            <label>Fullname</label>
                            <input type="text" class="form-control" ng-model="vm.model.Name">
                        </div>
                        <button type="submit" class="btn btn-success" ng-click="vm.createSubmit()">Tạo phòng ban</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>