
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Tạo đơn hàng</h1>
</div>
<div class="wrapper-sm" ng-controller="OrderCtrl as vm">
    <div class="row" style="padding-left: 15px;">
        <button class="btn m-b-xs w-xs btn-danger" ng-click="vm.orderBack()"><i class="glyphicon glyphicon-chevron-left icon text-light"></i>Back</button>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default" block-ui="BlockUI">
                <div class="panel-heading font-bold">Customer Information</div>
                <div class="panel-body" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>SĐT</label>
                                    <div>
                                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.Phone" aria-invalid="false" style="width: 70%; display: inline;">
                                        <button type="submit" class="btn btn-warning" ng-click="vm.SearchPhone()">TÌM</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Họ tên</label>
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.Name" aria-invalid="false">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.Email" aria-invalid="false">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <h5>Ngày sinh</h5>
                                    <input kendo-date-picker
                                           k-ng-model="vm.BirthDay"
                                           k-options="{format: 'dd/MM/yyyy'}"
                                           k-on-change="onStartDateChange()"
                                           style="width: 50%;" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tỉnh/Thành phố</label> <br />
                                <select id="citiesdropdown"
                                        kendo-drop-down-list
                                        ng-disabled="eventTypeDis === 1"
                                        k-data-text-field="'name'"
                                        k-data-value-field="'Id'"
                                        k-data-source="vm.citiesData"
                                        k-option-label="' Tỉnh/Thành phố '"
                                        k-ng-model="vm.selectedCitiesData"
                                        k-on-change="onCitiesSelChanged()"
                                        k-filter="'contains'"
                                        style="width: 100%"></select>
                            </div>
                            <div class="form-group">
                                <label>Quận/Huyện</label> <br />
                                <select id="districtsdropdown"
                                        kendo-drop-down-list
                                        ng-disabled="eventTypeDis === 1"
                                        k-data-text-field="'name'"
                                        k-data-value-field="'Id'"
                                        k-data-source="vm.districtsData"
                                        k-option-label="' Quận/Huyện '"
                                        k-ng-model="vm.selectedDistrictsData"
                                        k-on-change="onDistrictsSelChanged()"
                                        k-filter="'contains'"
                                        style="width: 100%"></select>
                            </div>
                            <div class="form-group">
                                <label>Phường</label> <br />
                                <select id="wardsdropdown"
                                        kendo-drop-down-list
                                        ng-disabled="eventTypeDis === 1"
                                        k-data-text-field="'name'"
                                        k-data-value-field="'Id'"
                                        k-data-source="vm.wardsData"
                                        k-option-label="' Phường '"
                                        k-ng-model="vm.selectedWardsData"
                                        k-on-change="onDistrictsSelChanged()"
                                        k-filter="'contains'"
                                        style="width: 100%"></select>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Địa chỉ nhà</label>
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.Address" aria-invalid="false">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Nguồn tạo</label>
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.NguonTao" aria-invalid="false">
                                </div>
                                <div class="form-group">
                                    <div class="demo-section k-content">
                                        <h5>Thời gian hẹn</h5>
                                        <input id="datetimepicker" title="datetimepicker" style="width: 100%;" />
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            // create DateTimePicker from input HTML element
                                            $("#datetimepicker").kendoDateTimePicker({
                                                value: new Date(),
                                                dateInput: true
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="form-group">
                                    <label>Ghi chú</label>
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.Note" aria-invalid="false">
                                </div>
                                <div class="form-group">
                                    <p>Mục khách hàng</p>
                                    <input type="radio" name="engine" id="engine1" class="" checked="checked">
                                    <label class="" for="engine1">Mua</label>


                                    <input type="radio" name="engine" id="engine2" class="" style="margin-left:5%">
                                    <label class="" for="engine2">Tham khảo</label>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default" block-ui="BlockUI">
                <div class="panel-heading font-bold">Product Information</div>
                <div class="panel-body">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sản phẩm</label> <br />
                            <select id="productsdropdown"
                                    kendo-drop-down-list
                                    ng-disabled="eventTypeDis === 1"
                                    k-data-text-field="'Name'"
                                    k-data-value-field="'Id'"
                                    k-data-source="vm.productsData"
                                    k-option-label="' Sản phẩm '"
                                    k-ng-model="vm.selectedProductsData"
                                    k-on-change="onProductsSelChanged()"
                                    k-filter="'contains'"
                                    style="width: 100%"></select>
                        </div>
                        <div class="form-group">
                            <div>
                                <label>Số lượng</label>
                                <input type="number" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.Quantity" aria-invalid="false" min="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label>Giá</label>
                                <input type="text" readonly class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.Price" aria-invalid="false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="form-group">
                                <label style="font-weight:bold">DANH SÁCH THUỘC TÍNH</label>
                                <table class="table">
                                    <thead style="background:darkgrey;color:black">
                                        <tr>
                                            <th>Tên thuộc tính</th>
                                            <th>Chi tiết thuộc tính</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group" style="float:right;margin-top:6%">
                            <label style="margin-right:35px">
                                <input type="checkbox" id="check1">
                                <span>Quà tặng</span>
                            </label>
                            <button type="submit" class="btn btn-success" ng-click="vm.AddProduct()">THÊM SẢN PHẨM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default" block-ui="BlockUI">
                <div class="panel-heading font-bold">List Products</div>
                <div class="panel-body">
                    <div class="form-group">
                        <table class="table">
                            <thead style="background:darkgrey;color:black">
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Thuộc tính</th>
                                    <th>Quà tặng</th>
                                    <th>Số lượng</th>
                                    <th>Tổng giá</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                              
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-danger w-xs m-b-xs " style="float:right" ng-click="vm.deleteall()">Xóa tất cả</button>
                    </div>
                    <div style="margin-left: 55%;margin-top:10%">
                        <div class="form-group">
                            <span style="font-weight:bold">Thành tiền:</span>
                            <input type="text" readonly="" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.Total" aria-invalid="false" style="display:inline;width: 60%;"> <span>VNĐ</span>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <button type="submit" class="btn btn-success btn-lg" ng-click="vm.submit()">TẠO ĐƠN HÀNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>