<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Chi tiết đơn hàng</h1>
</div>
<div class="wrapper-sm" ng-controller="OrderCtrl as vm">
    <div class="row" style="padding-left: 15px;">
        <button class="btn m-b-xs w-xs btn-danger" ng-click="vm.orderBack()"><i class="glyphicon glyphicon-chevron-left icon text-light"></i>Back</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" block-ui="BlockUI">
                <div class="panel-heading font-bold">List Products</div>
                <div class="panel-body">
                    <div class="form-group">
                        <table class="table">
                            <thead style="background:darkgrey;color:black">
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Thuộc tính</th>
                                    <th>Quà tặng</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng giá</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>