<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Navigation</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="glyphicon glyphicon-stats icon text-light"></i>
            <span class="font-bold">Dashboard</span>
        </a>
    </li>
    <li ng-class="{active:$state.includes('app.crevent')}">
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-th-large icon text-light"></i>
            <span class="font-bold">Sự kiện/Phiếu</span>
        </a>
        <ul class="nav nav-sub dk">
            @*<li ui-sref-active="active">
                    <a ui-sref="app.crevent.index">
                        <span>Tổng quan</span>
                    </a>
                </li>*@
            <li ui-sref-active="active">
                <a ui-sref="app.crevent.creventcreation">
                    <span>Tạo sự kiện</span>
                </a>
            </li>
            <li ui-serf-active="active">
                <a ui-sref="app.crevent.creventmanager">
                    <span>Quản lý sự kiện</span>
                </a>
            </li>
            <li ui-serf-active="active">
                <a ui-sref="app.crevent.crremindermanager">
                    <span>Quản lý phiếu hẹn</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{active:$state.includes('app.department')}">
        @*<a class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-institution icon text-light"></i>
                <span class="font-bold">Phòng ban</span>
            </a>
            <ul class="nav nav-sub dk"></ul>*@
    @*<li ui-sref-active="active">
        <a ui-sref="app.department.index">
            <i class="fa fa-institution icon text-light"></i><span class="font-bold">Phòng ban</span>
        </a>
    </li>*@
    </li>
    <li ng-class="{active:$state.includes('app.staff')}">
        @*<a class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-user icon text-light"></i>
                <span class="font-bold">Nhân viên</span>
            </a>
            <ul class="nav nav-sub dk"></ul>*@
    @*<li ui-sref-active="active">
        <a ui-sref="app.staff.index">
            <i class="glyphicon glyphicon-user icon text-light"></i><span class="font-bold">Nhân viên</span>
        </a>
    </li>*@
    </li>
    <li ng-class="{active:$state.includes('app.customer')}">
        @*<a class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-group icon text-light"></i>
                <span class="font-bold">Khách hàng</span>
            </a>
            <ul class="nav nav-sub dk"></ul>*@
    <li ui-sref-active="active">
        <a ui-sref="app.customer.index">
            <i class="fa fa-group icon text-light"></i> <span class="font-bold">Khách hàng</span>
        </a>
    </li>
    <li ng-class="{active:$state.includes('app.producttype')}">
    @*<li ui-sref-active="active">
        <a ui-sref="app.producttype.index">
            <i class="fa fa-suitcase icon text-light"></i> <span class="font-bold">Loại sản phẩm</span>
        </a>
    </li>*@
    </li>
    <li ng-class="{active:$state.includes('app.creventsource')}">
    <li ui-sref-active="active">
        <a ui-sref="app.creventsource.index">
            <i class="fa fa-bookmark-o icon text-light"></i> <span class="font-bold">Nguồn sự kiện</span>
        </a>
    </li>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="account.login">
            <i class="glyphicon glyphicon-user icon text-light"></i>
            <span class="font-bold">Logout</span>
        </a>
    </li>
    @*<li ui-sref-active="active">
            <a ui-sref="account.register">
                <i class="glyphicon glyphicon-user icon text-light"></i>
                <span class="font-bold">Register</span>
            </a>
        </li>*@
</ul>
<!-- / list -->
