
<div class="col">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Customer Management</h1>
    </div>
    <div class="bg-light lter b-b wrapper-md" ng-controller="CustomerCtrl as vm">
            <div class="row">
                <kendo-grid options="mainGridOptions" >
                </kendo-grid>
            
            </div>
    </div>
</div>
