
<div class="col">
    <div class="bg-light lter b-b wrapper-md">
        <div class="bg-light lter b-b wrapper-md" ng-controller="cusProfileCtrl as vm">
            <h1 class="m-n font-thin h3">Customer Profile</h1>
            <div class="col-sm-6 wrapper-md cus-profile-form">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Thông tin khách hàng</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Tên khách hàng:</b></label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <a>{{ vm.customer.Name || 'empty' }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Số điện thoại:</b></label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <a>{{ vm.customer.PhoneNumber || 'empty' }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Ngày sinh:</b></label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <a>{{ vm.customer.Birthday || 'empty' }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Địa chỉ:</b></label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <a>{{ vm.customer.Address || 'empty' }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Thành phố/Tỉnh:</b></label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <a>{{ vm.customer.City || 'empty' }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Quận/Huyện:</b></label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <a>{{ vm.customer.District || 'empty' }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Phường/Xã:</b></label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <a>{{ vm.customer.Ward || 'empty' }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
            </div>
        </div>
    </div>
</div>
