<head>
    <style>
        .red {
            background-color: red;
        }

        .none {
            background-color: none;
        }
        button.active {
            background-color:red;
        }
    </style>
</head>
<div class="col">
    <div class="bg-light lter b-b wrapper-md" ng-controller="crEventManagerCtrl as vm">
        <h4>Quản lý sự kiện</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Filter</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="padding-left: 15px;">
                                    <h5>Ngày tạo</h5>
                                    <div kendo-date-range-picker
                                         id="dateRangeFilter"
                                         k-ng-model="vm.startDate, vm.endDate"
                                         k-on-change="onDateRangeChange()"
                                         k-options="{format: 'dd/MM/yyyy'}"
                                         style="width: 100%;" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="padding-left: 15px;">
                                    <h5>Phòng ban</h5>
                                    <select kendo-multi-select
                                            id="departMulDrop"
                                            k-options="vm.departmentSelectOptions"
                                            k-ng-model="vm.departmentSelectedIds"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <div id="listOfCrTaga" title="Danh sách tag sự kiện">
                                            <div class="form-group" style="padding: 15px; float: left;" ng-repeat="item in vm.crDepartmentListTag">
                                                <label>{{item.department.Name}}</label>
                                                <div class="row" style="padding:15px;">
                                                    <button id="filter{{child.ID}}"
                                                            ng-repeat="child in item.tagList"
                                                            class="btn m-b-xs btn-default"
                                                            ng-click="filterTagClicked(child,this,$index)">
                                                        {{child.NameTag}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="eventGrid"
                     kendo-grid
                     k-options="mainGridOptions"
                     k-selectable="true"
                     k-filterable='{ extra: false, messages: { info: "Filter by: " }, operators: { string: { contains: "Contains", startswith: "Starts with" } } }'></div>
            </div>
            <div id="details">
               
                <div id="windowTabstrip">
                    <ul>
                        <li class="k-state-active">
                            Chi tiết phiếu
                        </li>
                        <li>
                            Lịch sử tương tác
                        </li>
                        <li>
                           Tags
                        </li>
                        <li>
                            Lịch sử hẹn
                        </li>
                    </ul>
                    <div>
                        <div id="gridDetails"></div>
                    </div>
                    <div>
                        <div id="gridHistoryInteractions"></div>
                    </div>
                    <div>
                        <div id="gridTagDetails"></div>
                    </div>
                    <div>
                        <div id="reminderDetails"></div>
                    </div>
                </div>
            </div>

            <script type="text/x-kendo-template" id="template">
                <div id="details-container">
                    <h2>#= FullName # #= FullName #</h2>
                    <em>#= Phone #</em>
                    <dl>
                        <dt>Email: #= Email #</dt>
                        <dt>Address: #= Address #</dt>
                    </dl>
                </div>
            </script>

            <div id="editdetails">
                <div id="editWindowTabstrip">
                    <ul>
                        <li class="k-state-active">
                            Chi tiết phiếu
                        </li>
                    </ul>
                    <div>
                        <div id="gridEditDetails"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
 </div>
