
<div class="wrapper-md" >
    <div ng-controller="crEventCreationCtrl">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">TẠO SỰ KIỆN</div>
                    <div class="panel-body">
                        <form action="#" class="m-b-md">
                            <div class="input-group">
                                <input type="text" class="form-control input-lg" placeholder="Số điện thoại khách hàng">
                                <span class="input-group-btn">
                                    <button class="btn btn-lg btn-default" type="button">Tiếp tục</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">THÔNG TIN KHÁCH HÀNG 404</div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="row">
                                <div class="btn-group m-b-md col-md-6">
                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn btn-default" data-toggle="dropdown">
                                            Dropdown
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href>Dropdown link</a></li>
                                            <li><a href>Dropdown link</a></li>
                                            <li><a href>Dropdown link</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group m-b-md col-md-6">
                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn btn-default" data-toggle="dropdown">
                                            Dropdown
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href>Dropdown link</a></li>
                                            <li><a href>Dropdown link</a></li>
                                            <li><a href>Dropdown link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group m-b-md col-md-6">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-default" data-toggle="dropdown">
                                        Dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href>Dropdown link</a></li>
                                        <li><a href>Dropdown link</a></li>
                                        <li><a href>Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">THÔNG TIN KHÁCH HÀNG PITECH</div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label><b>Tên khách hàng</b></label>
                                <p class="form-control-static">Nguyễn Văn A</p>
                            </div>
                            <div class="form-group">
                                <label><b>Địa chỉ</b></label>
                                <p class="form-control-static">
                                    1 Lê Duẩn Bến Nghé, Quận 1, Hồ Chí Minh
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><b>Thành phố / Tỉnh</b></label>
                                    <p class="form-control-static">Hồ Chí Minh</p>
                                </div>
                                <div class="col-md-6">
                                    <label><b>Quận / Huyện</b></label>
                                    <p class="form-control-static">Quận 1</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><b>Phường / Xã</b></label>
                                <p class="form-control-static">1</p>
                            </div>
                            <div class="form-group">
                                <label><b>Ngày sinh</b></label>
                                <p class="form-control-static">01/01/1900</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>