
<div class="wrapper-md" ng-controller="crEventCreationCtrl as vm">
    <tabset class="tab-container" ng-init="steps={percent:40, step1:true, step2:false}">
        <tab heading="Bước 1" active="steps.step1" disabled="!vm.tabDisable" select="steps.percent=40">
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">TẠO SỰ KIỆN</div>
                        <div class="panel-body">
                            <form class="m-b-md" ng-submit="!vm.tabDisable ? (steps.step2=true) : (steps.step2=false)" >
                                <div class="input-group">
                                    <input type="text" name="masked" ng-change="phoneNumChange()" ui-mask="999 999 9999" ng-model="vm.searchingNumber" placeholder="___ ___ ____" class="form-control m-b" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-md btn-default" ng-disabled="vm.tabDisable" type="button" ng-click="steps.step2=true">Tiếp tục</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Bước 2" disabled="vm.tabDisable" active="steps.step2" select="steps.percent=60">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">THÔNG TIN KHÁCH HÀNG 404</div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>Tên khách hàng</label>
                                    <input type="text" class="form-control" placeholder="Tên khách hàng" ng-model="vm.systemCustomer.FullName">
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="vm.systemCustomer.Address">
                                </div>
                                <div class="row ">
                                    <div class="col-md-6 btn-group m-b-md col-sm-12">
                                        <label>Thành phố / Tỉnh</label>
                                        <select kendo-drop-down-list
                                                k-data-text-field="'ProductName'"
                                                k-data-value-field="'ProductID'"
                                                k-data-source="vm.cityData"
                                                k-option-label="' Thành phố... '"
                                                k-filter="'contains'"
                                                style="width: 100%"></select>
                                    </div>
                                    <div class="col-md-6 btn-group m-b-md col-sm-12">
                                        <label>Quận / Huyện</label>
                                        <select kendo-drop-down-list
                                                k-data-text-field="'ProductName'"
                                                k-data-value-field="'ProductID'"
                                                k-data-source="vm.districtData"
                                                k-option-label="' Quận / Huyện... '"
                                                k-filter="'contains'"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 btn-group m-b-md col-sm-12">
                                        <label>Phường / Xã</label>
                                        <select kendo-drop-down-list
                                                k-data-text-field="'ProductName'"
                                                k-data-value-field="'ProductID'"
                                                k-data-source="vm.wardData"
                                                k-option-label="' Phường / Xã... '"
                                                k-filter="'contains'"
                                                style="width: 100%"></select>
                                    </div>
                                    <div class="col-md-6 btn-group m-b-md col-sm-12">
                                        <label>Ngày sinh</label>
                                        <input kendo-date-picker
                                               k-options="{format: 'dd/MM/yyyy'}"
                                               style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group" style="padding-top: 10px;">
                                        <button class="btn btn-success btn-default" ng-click="vm.createClicked">Tạo mới / Chỉnh sửa</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">THÔNG TIN KHÁCH HÀNG PITECH</div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label><b>Tên khách hàng</b></label>
                                    <p class="form-control-static">{{vm.pitechCutomer.FullName}}</p>
                                </div>
                                <div class="form-group">
                                    <label><b>Địa chỉ</b></label>
                                    <p class="form-control-static">
                                        {{vm.pitechCutomer.Address}}
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Thành phố / Tỉnh</b></label>
                                        <p class="form-control-static">  {{vm.pitechCutomer.City}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <label><b>Quận / Huyện</b></label>
                                        <p class="form-control-static">  {{vm.pitechCutomer.District}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><b>Phường / Xã</b></label>
                                    <p class="form-control-static">  {{vm.pitechCutomer.Ward}}</p>
                                </div>
                                <div class="form-group">
                                    <label><b>Ngày sinh</b></label>
                                    <p class="form-control-static">  {{vm.pitechCutomer.Birthday}}</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">PHÂN LOẠI PHIẾU</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 k-content">
                                    <label>Sự kiện</label>
                                    <select kendo-drop-down-list
                                            k-data-text-field="'ProductName'"
                                            k-data-value-field="'ProductID'"
                                            k-data-source="vm.eventData"
                                            k-option-label="' Sự kiện... '"
                                            k-filter="'contains'"
                                            style="width: 100%"></select>
                                </div>
                                <div class="col-md-6 k-content">
                                    <label>Mục đích</label>
                                    <select kendo-drop-down-list
                                            k-data-text-field="'ProductName'"
                                            k-data-value-field="'ProductID'"
                                            k-data-source="vm.purposeData"
                                            k-option-label="' Mục đích... '"
                                            k-filter="'contains'"
                                            style="width: 100%"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">THÔNG TIN PHIẾU</div>
                        <div class="panel-body">
                            <div kendo-tab-strip k-content-urls="[ null, null]" style="background-color: #edf1f2; border-color: white">
                                <!-- tab list -->
                                <ul>
                                    <li class="k-state-active">Sự kiện</li>
                                    <li>Phiếu hẹn</li>
                                </ul>

                                <div class="row">
                                    <div class="row col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>Sản phẩm</label>
                                                <select kendo-drop-down-list
                                                        k-data-text-field="'ProductName'"
                                                        k-data-value-field="'ProductID'"
                                                        k-data-source="vm.productData"
                                                        k-option-label="' Sản phẩm... '"
                                                        k-filter="'contains'"
                                                        style="width: 100%"></select>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Serial</label>
                                                    <input style="height:17px; width:93%" type="text" class="form-control" placeholder="Serial" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="col-md-3">
                                            <label>Đại lý</label>
                                            <input style="height:17px; width:93%" type="text" class="form-control" placeholder="Serial" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Nhân viên bán hàng</label>
                                            <input style="height:17px; width:93%" type="text" class="form-control" placeholder="Nhân viên bán hàng" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Ngày mua</label>
                                            <input kendo-date-picker
                                                   k-options="{format: 'dd/MM/yyyy'}"
                                                   style="width: 100%;" />
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="form-group" style="padding: 15px;">
                                            <label>Nội dung</label>
                                            <ng-quill-editor ng-model="vm.message" modules="{toolbar: false}"></ng-quill-editor>
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="form-group" style="padding:15px;">
                                            <label><b>Tags:</b></label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Bộ phận</label>
                                                <select kendo-multi-select k-options="vm.departmentSelectOptions" k-ng-model="vm.departmentSelectedIds"></select>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="form-group" style="padding: 15px;">
                                                <h4>Tag</h4>
                                                <select kendo-multi-select k-options="vm.selectOptions" k-ng-model="vm.selectedIds"></select>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="form-group" style="padding: 15px;">
                                                <h4>Ghi chú</h4>
                                                <ng-quill-editor ng-model="vm.message" modules="{toolbar: false}"></ng-quill-editor>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="form-group" style="padding: 15px;">
                                                <button class="btn btn-success btn-default">Tạo sự kiện</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>Sản phẩm</label>
                                                <select kendo-drop-down-list
                                                        k-data-text-field="'ProductName'"
                                                        k-data-value-field="'ProductID'"
                                                        k-data-source="vm.productData"
                                                        k-option-label="' Sản phẩm... '"
                                                        k-filter="'contains'"
                                                        style="width: 100%"></select>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Serial</label>
                                                    <input style="height:17px; width:93%" type="text" class="form-control" placeholder="Serial" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="col-md-3">
                                                <label>Lịch hẹn</label>
                                                <input kendo-date-picker
                                                       k-options="{format: 'dd/MM/yyyy'}"
                                                       style="width: 100%;" />
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="form-group" style="padding: 15px;">
                                                <label>Lời nhắc</label>
                                                <ng-quill-editor ng-model="vm.reminderNote" modules="{toolbar: false}"></ng-quill-editor>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="form-group" style="padding:15px;">
                                                <label><b>Tags:</b></label>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Phòng ban</label>
                                                    <select kendo-multi-select k-options="vm.departmentSelectOptions" k-ng-model="vm.departmentSelectedIds"></select>
                                                </div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="form-group" style="padding: 15px;">
                                                    <h4>Tag</h4>
                                                    <select kendo-multi-select k-options="vm.selectOptions" k-ng-model="vm.selectedIds"></select>
                                                </div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="form-group" style="padding: 15px;">
                                                    <h4>Ghi chú</h4>
                                                    <ng-quill-editor ng-model="vm.message" modules="{toolbar: false}"></ng-quill-editor>
                                                </div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="form-group" style="padding: 15px;">
                                                    <button class="btn btn-success btn-default">Tạo phiếu hẹn</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <button class="btn btn-danger btn-default" ng-show="!dialogVisible" ng-click="dialog.open()">Reset</button>
                        <div kendo-dialog="dialog" k-title="'Reset'" k-on-open="dialogVisible = true"
                             k-on-close="dialogVisible = false" k-width="450"
                             k-actions="actions" k-modal="false">
                            <p>Bạn có chắc muốn xóa thông tin đang thao tác ?</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </tab>
    </tabset>
</div>
