.bg-light.lter .cr-submit {
    background-color: white !important;
    border:none !important;
}
[ng-quill-editor] {
    padding: 15px !important;
}
.tag-blue-color:hover, .tag-blue-color:focus, .tag-blue-color:active {
    color: #fff !important;
}
.create-cr-btn {
    padding-left: 0px;
}
.cus-profile-form {
    margin-top: 50px;
    margin-left: -50px;
}
@media(max-width: 992px) {
    .cus-cr-btn {
        padding-left: 0px;
    }
}